---
layout: default
is_blog: true

nav_list: 
  - href:     '#blog'
    scrollto: '#blog'
    icon:     fa-pencil
    description: Blog
  - href:     "#funfacts"
    scrollto: "#funfacts"
    icon:     fa-pencil
    description: Happy Clients
  - href:     "#testimonial"
    scrollto: "#testimonial"
    icon:     fa-comments
    description: Testimonials
  - href:     "#portfolio"
    scrollto: "#portfolio"
    icon:     fa-briefcase
    description: Listings
  - href:     "#contact"
    scrollto: "#contact"
    icon:     fa-paper-plane
    description: Contact
    
---
	{% if page.banner-image %}
		{% assign banner_image = page.banner-image %}
	{% else %}
		{% assign banner_image = "http://placehold.it/750x400" %}
	{% endif %}

    {% include post-banner.html %}

     <!-- Blog Post Container-->
    <section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
      <div class="container">
        <div class="row">
          <div class="clearfix all-blog-post blog-inner with-sidebar">

          <!-- post container start-->
            <div class="col-sm-8">
              <article class="single-post-page">
                <div class="thumb-wrap">
                  <img src="{{ banner_image }}" alt="">
                </div>
                <div class="single-post-content">
					{{ content }}
                </div>
                
                {% include post-footer.html %}

                {% include post-comments.html %}
              </article>
            </div> <!-- ./post container end-->

            <!-- Sidebar start-->
            {% include post-side-bar.html %}
          </div>
        </div>
      </div> <!-- ./container end-->
    </section>  <!-- ./Blog Post Container end-->

