---

layout:     default
title:      Cebu Home Pages
type:       home
navigation: true
nav_list: 
  - href:     '#blog'
    scrollto: '#blog'
    icon:     fa-pencil
    description: Blog
  - href:     "#funfacts"
    scrollto: "#funfacts"
    icon:     fa-pencil
    description: Happy Clients
  - href:     "#testimonial"
    scrollto: "#testimonial"
    icon:     fa-comments
    description: Testimonials
  - href:     "#portfolio"
    scrollto: "#portfolio"
    icon:     fa-briefcase
    description: Listings
  - href:     "#contact"
    scrollto: "#contact"
    icon:     fa-paper-plane
    description: Contact

date:       2014-05-08
image:      header-bear.jpg
excerpt:    The idea of translating our thoughts into actual products and sharing it to everyone was a dream a long time ago. And now.. it has become a <i>reality..</i>
 <a href="/about.html" title="Continue" class="more">Continue</a>
gradient:   1

---

{% include facade.html %}

{% include blog.html %}

{% include client-relations.html %}

{% include testimonials.html %}

{% include listings.html %}

{% include contact.html %}