<!-- JavaScripts -->
  <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.easing.1.3.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/detectmobilebrowser.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/wow.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/waypoints.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.counterup.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.nicescroll.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/libs/owl-carousel/owl.carousel.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/libs/materialize/js/materialize.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/libs/jwplayer/jwplayer.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/libs/sweetalert/sweet-alert.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/common.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>

  <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
  <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>