 <!-- Banner start -->
    <section id="banner" class="root-sec cyan padd-tb-55 single-banner blogpage-banner-wrap">
      <div class="container">
        <div class="row">
          <div class="clearfix blog-banner-text blog-single-banner">
            <div class="col-md-12">
              <h2 class="title">Your awesome post title</h2>
              <ul class="clearfix blog-post-meta">
                <li>By <a href="#">Admin</a>
                </li>
                <li>March 28, 2015</li>
                <li><a href="#">5 Comments</a>
                </li>
                <li><a href="#">UX Design</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- ./Banner end -->