<div class="clearfix post-footer">
                  <a href="#" class="left post-like js-favorite" title="Love this"><i class="mdi-action-favorite"></i> <span class="numb">109</span></a>
                  <ul class="clearfix right share-post">
                    <li><a href="#"><i class="fa fa-facebook"></i> <span>SHARE</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> <span>TWEET</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i> <span>PLUS</span></a>
                    </li>
                  </ul>
                </div>